.blog-container {
  max-width: 768px;
  margin: 0 auto;

  h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
    font-weight: 600;
  }

  nav {
    border-bottom: 1px dotted #ccc;
  }

  p, ul, ol {
    line-height: 1.6;
  }

  pre, img {
    max-width: 100%;
    overflow-x: auto;
  }

  pre {
    padding: 1rem;
    background-color: #f6f6f6;
    border: 1px solid #eee;
  }

  code {
    background-color: #f6f6f6;
    padding: 0.25rem;
  }

  pre code {
    background-color: transparent;
    padding: 0;
  }

  .caption {
    font-size: 0.9rem;
    color: #999;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  summary {
    cursor: pointer;
  }

  details {
    background-color: #fafafa;
    padding: 1rem;
  }

  details:hover {
    background-color: aliceblue;
  }

  details[open]:hover {
    background-color: #fafafa;
  }
}

.blog-date {
  font-size: 0.9rem;
  color: #999;
}

.blog-author {
  hr {
    border: 1px solid #eee;
  }

  .authorFlexContainer {
    display: flex;
    align-items: center;
  }

  .authorImgContainer {
    flex: 1;
    text-align: center;
    padding: 1rem;
  }

  .authorImgContainer img {
    border-radius: 50%;
    max-width: 150px;
  }

  .authorBio {
    flex: 3;
  }

  @media (max-width: 660px) {
    .authorFlexContainer {
      display: block;
    }
  }

}
