body {
  font-family: Roboto, sans-serif;
  padding: 5px 50px;
  color: #404040;

  max-width: 1260px;
  margin: 0 auto;
}

#header h1 {
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
}

a {
  color: #914024;;
  text-decoration: none;
  border-bottom: 1px dotted #914024;;
}

a:hover {
  text-decoration: none;
  color: rgb(0, 78, 0);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 15px;
  margin-right: 15px;
}

#about {
  background-color: #eee;
  padding: 10px 20px;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-right: 15px;
}

.header-image {
  float: left;
  margin-top: 0.5em;
  margin-right: 10px;
}

.header-image img {
  border-radius: 3px;
}

.links {
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
  line-height: 1.7;
}

.links a {
  color: #404040;
}

.links a:hover {
  color: rgb(0, 78, 0);
  border-bottom: 1px dotted rgb(0, 78, 0);
}

.nav {
  margin-top: 15px;
}

.nav strong {
  position:relative;
  top:-1px;
}

.flex-container {
  display:flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.flex-item-default {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.project-link {
  border-bottom: none;
}

.project {
  position: relative;
  min-width: 250px;
  min-height: 225px;

  margin-right: 15px;
  margin-top: 15px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: #eee;
  background-size: cover;

  color: #fff;

  padding: 5px 25px;
}

.project .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 276px;
  padding: 12px;

  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.project .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 276px;
  padding: 12px;

  background-color: rgba(0, 0, 0, 0.7);

  font-size: 14px;
}

@media (max-width: 720px) {
  body {
    padding: 0;
    padding-left: 15px;
  }

  .flex-container {
    justify-content: center;
  }
}
